<% include ./head.ejs %>
    <h1 style="margin-bottom:30px;"><a href="/"><i class="fa fa-home fa-lg"></i>&nbsp;Home</a>&nbsp;<%= title %></h1>
    <% include ./dashboard.ejs %>
<% include ./bottom.ejs %>
